@font-face {
    font-family: cursedtimer;
    src: url(CursedTimerUlil-Aznm.ttf);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1F2937;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    max-width: 350px;
    margin: 10px auto;
    padding: 0 10px;
}

.container h3 {
    font-size: 2em;
}


.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.wrapper h3 {
    margin: 5px 0;
}

.score-board {
    width: 120px;
    height: 90px;
    color: #F43F5E;
    background-color: #111;
    margin: 0 2px 15px 2px;
    font-size: 3.6em;
    letter-spacing: 0.1em;
    padding-left: 0.1em;
    padding-top: 0.1em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: cursedtimer;
    border-radius: 6px;
}

.score-buttons button {
    font-size: 0.8em;
    font-family: cursedtimer;
    color: #BAE6FD;
    background: none;
    width: 32px;
    height: 30px;
    margin: 0 2px;
    border: 1px solid #BAE6FD;
    border-radius: 5px;
    cursor: pointer;
}
.score-buttons button:active {
    transform: scale(0.95);
}

#newgame-btn {
    font-size: 1em;
    font-family: cursedtimer;
    font-weight: 400;
    letter-spacing: 1px;
    color: #BAE6FD;
    background: none;
    padding: 8px 12px;
    margin: 10px 0 8px 0;
    border: 1px solid #BAE6FD;
    border-radius: 5px;
    box-shadow: -1px 1px 0;
    cursor: pointer;
}
#newgame-btn:active {
    box-shadow: 0 0 0;
    transform: translate(-1px, 1px);
}

.winning-board {
    box-shadow: 0 0 5px greenyellow;
}

#timer {
    align-self: center;
    /* color: #F43F5E; */
    background-color: #111;
    border-radius: 5px;
    width: 68px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: cursedtimer;
    font-size: 1.1em;
    padding-top: 1px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p {
    margin: 0 0 10px 0;
}

.social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.social-links > li {
  list-style: none;
  padding: 0 8px;
  display: flex;
}
.social-links > li > a {
  text-decoration: none;
}
.social-links > li > a > img {
  width: 25px;
  transition: transform 0.2s ease;
}
.social-links > li > a > img:hover {
  transform: scale(1.2);
}